<div class="page-error">
    <section class="breadcrumb-area style2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content-box clearfix">
                        <div class="title-s2 text-center">
                            <span>opps !</span>
                            <h1>NO SUCH SCHOOL FOUND</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

    <!--Start Error Page Area-->
    <section class="error-page-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="error-content text-center">
                        <span>school Not Found</span>
                        <div class="title">sorry</div>
                        <p>We’re unable to find a school you are looking for, click home button.</p>
                        <div class="button">
                            <a class="btn-one" [routerLink]='[""]'>Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Error Page  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" Area-->
</div>