<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content clearfix">
          <div class="title">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h3 class="title">School Advisor</h3>
        <h3 class="sub-title">the best & the most honest<span> schools ranking site in Egypt</span>.</h3>
      </div>
      <div class="col-sm-12 col-lg-6">
        <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, nisi fugit voluptate optio
          dignissimos adipisci aut veniam sapiente architecto numquam doloribus quia expedita ad sequi, fugiat ullam
          unde ex tenetur! lorem ipsum dolor sit amet lorem</p>
      </div>
    </div>
  </div>

  <div class="process">
    <div class="bg-0"></div>
    <div class="bg-1"></div>
    <div class="container move">
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner box">
              <div class="carousel-item active">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <img class="case-img" src="../../assets/images/history-1.jpg">
                    </div>
                    <div class="col-sm-12 col-lg-6 ">
                      <div class="carous-title">
                        <h3>Idea</h3>
                        <div class="tringle"></div>
                      </div>
                      <div class="carous-sub-title">
                        <h3>School Advisor Was Founded by<br>a well experianced team in egypt.</h3>
                      </div>
                      <p class="text carous-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
                        nisi fugit voluptate optio dignissimos adipisci aut veniam sapiente architecto numquam doloribus
                        quia expedita ad sequi, fugiat ullam unde ex tenetur! lorem ipsum dolor sit amet lorem</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <img class="case-img" src="../../assets/images/history-2.jpg">
                    </div>
                    <div class="col-sm-12 col-lg-6 ">
                      <div class="carous-title">
                        <h3>steps</h3>
                        <div class="tringle"></div>
                      </div>
                      <div class="carous-sub-title">
                        <h3>our ranking depending on<br>alot of process.</h3>
                      </div>
                      <p class="text carous-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
                        nisi fugit voluptate optio dignissimos adipisci aut veniam sapiente architecto numquam doloribus
                        quia expedita ad sequi, fugiat ullam unde ex tenetur! lorem ipsum dolor sit amet lorem</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <img class="case-img" src="../../assets/images/history-1.jpg">
                    </div>
                    <div class="col-sm-12 col-lg-6 ">
                      <div class="carous-title">
                        <h3>Team</h3>
                        <div class="tringle"></div>
                      </div>
                      <div class="carous-sub-title">
                        <h3>our Team is have a good knowledge <br>in school rateing and mangement</h3>
                      </div>
                      <p class="text carous-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
                        nisi fugit voluptate optio dignissimos adipisci aut veniam sapiente architecto numquam doloribus
                        quia expedita ad sequi, fugiat ullam unde ex tenetur! lorem ipsum dolor sit amet lorem</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="counter" (scroll)="onWindowScroll()">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h2 class="count">{{count1}}</h2>
            </div>
            <div class="col-6">
              <h2 class="inf">
                Years of
                Experience
              </h2>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h2 class="count">{{count2}}</h2>
            </div>
            <div class="col-6">
              <h2 class="inf">
                School <br> we rank
              </h2>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h2 class="count">{{count3}}</h2>
            </div>
            <div class="col-6">
              <h2 class="inf">
               something else here
              </h2>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <section class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="sec-title float-start">
                    <p>Behind Our Company</p>
                    <div class="title">Expert &amp; Experinced <span>Team</span></div>
                </div>
                <div class="view-all-member style2 float-end">
                    <a class="btn-one" href="#">All Members<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start Single Team Member-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" *ngFor="let one of team">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="{{one.img}}" alt="Awesome Image">
                        <ul class="sociallinks">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="name text-center">
                        <p><span>{{one.position}}</span></p>
                        <h3>{{one.name}}</h3>
                    </div>
                </div>
            </div>
            <!--End Single Team Member-->
          
        </div>
    </div>
</section>

<div class="clints">
    <h3 class="title">CORPORATE CLIENTS</h3>
    <h3 class="sub-title">MORE THAN 2000  <span> Sponsers & partners</span></h3>

    <div class="clints-logo container">
        <div class="row">
            <div class="col-sm-3 col-lg-2 offset-md-1 bg" *ngFor="let logo of clintsLogo;let i=index;">
                <img class="logo-{{i+1}}" src="{{logo.logo}}" alt="clint-logo">
            </div>
        </div>
    </div>

</div>

</div>
