<div class="join-us">
    <h3 class="title">School Advisor partnership</h3>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, voluptatibus libero? Provident quas harum perspiciatis ipsum. Tenetur, sit error aliquid laborum neque fuga ratione, ipsam aperiam odio dicta illum amet!</p>

    <div class="cards container">
        <div class="row">
            <button class="col-6 " (click)="scroll('partner')">
                <img src="../../assets/images/icon-school.png">
                <div class="info">
                    <h3 class="card-title">School partner</h3>
                </div>
            </button>
            <button class="col-6"  (click)="scroll('ads')">
                <img src="../../assets/images/ads-icon.png">
                <div class="info">
                    <h3 class="card-title">advertising</h3>
                </div>
            </button>
        </div>
    </div>
    <p class="text" id="partner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At fugit placeat qui magnam ipsum aperiam maxime natus accusamus deleniti similique, officiis reiciendis quam optio commodi quod ratione laboriosam recusandae veritatis.</p>

    <div class="container-fluid">
    <div class="row">
        
        <div class="partner part col-9  " id="partner" >
        <h3 class="title">School partner</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor inventore ad laudantium voluptatibus accusantium quas, nostrum placeat, tempore voluptatum fugit quisquam perspiciatis architecto mollitia. Reprehenderit, sapiente corrupti? Sapiente, sequi ea.</p>
        <a href="#" class="btn-0"  [routerLink]='["/become-apartner"]'>Learn more</a>
    </div>
    
    <div class="col-3">
    </div>
    <div class="col-3">
    </div>
    <div class="ads part col-9" id="ads">
        <h3 class="title"> Advertise with us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor inventore ad laudantium voluptatibus accusantium quas, nostrum placeat, tempore voluptatum fugit quisquam perspiciatis architecto mollitia. Reprehenderit, sapiente corrupti? Sapiente, sequi ea.</p>
        <a href="#" [routerLink]='["/ads"]' class="btn-0">Learn more</a>
    </div>

    </div>
</div>

</div>